@model PagedList.IPagedList<FancyOnlineStore.Models.ProductViewModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    //TODO: Show errors in a proper view. Move this logic to the constructor??
    var dummy = Model.FirstOrDefault();
    if (dummy is null)
    {
        <h2>Error!</h2>
        <h6>Please try again later!</h6>
        return;
    }
}
<h2>Our hot new collection of @(dummy.Type)s! Coming soon to a mall near you!</h2>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => dummy.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.ProductName)
            </th>
            <th></th>
        </tr>
        @foreach (var product in Model)
        {
            @Html.Partial("_ProductDetails", product)
        }
    </table>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ListItems", new { page }))